@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

html {
  scroll-behavior: smooth;
}

html, body {
  background-color: #000000;
  color: rgb(var(--foreground-rgb));
}

::selection {
  background: rgba(255, 255, 255, 0.15);
  color: white;
}
